# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# VS Code
.vscode/

# IDEs
.idea/
*.swp
